<% if message.user_id == current_user.id %>
  <div class="container-message mrl-50">
    <p><%= message.content %></p>
    <span class="time-right"><%= message.created_at %></span>
  </div>
<% else %>
  <div class="container-message darker mrr-50">
    <p><%= message.content %></p>
    <span class="time-left"><%= message.created_at %></span>
  </div>
<% end %>