<div class="list-room">
  <%# @users.each do |user| %>
    <%#= link_to user.email, messages_path(user_id: user.id) %>
  <%# end %>

  <% @rooms.each do |room| %>
    <%= render partial: "rooms/show", locals: {room: room} %>
<!--    <p><%#= room %></p>-->
    <%#= link_to user.email, messages_path(user_id: user.id) %>
  <% end %>
</div>