<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="/">ActionCable Chat</a>

  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-logout' %>
</nav>
